html {
    font-size: 16px;
}
body {
    margin: 0;
}
main {
    margin: 0;
    background-color: rgba(0,0,174,255);
}

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/fnl_football_banner.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width:100vw;
    text-align: center;
    overflow: hidden;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    color: whitesmoke;
    flex-direction: column;
}

h1 {
    font-size: 4rem;
    max-width: 90%;
    margin-top: 0px;

}
h2 {
    font-size: 3.5rem;
}
p {
    font-size: 2rem;
}

#photos {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding-top: 100px;
    margin-bottom: 100px;
}
#photos img {
    flex: 0 1 300px;
    margin: 25px 5px 25px 5px;
    border: 3px solid rgba(250,198,30,255);
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
#testimonial {
    display: flex;
    background-color: rgba(0,0,174,255);
    color: rgba(250,198,30,255);
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    text-align: center;
    flex-flow: column nowrap;
    border: 3px solid rgba(250,198,30,255);
    box-sizing: border-box;
}
#testimonial h3 {
    font-size: 3rem;
    line-height: 3.5rem;
    flex: 0 1 290px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#testimonial p {
    flex: 1 0 120px;
    margin: 0; 
}
#join {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}
#join img {
    flex: 0 0 400px;
    border: 3px solid rgba(250,198,30,255);
}
h4 {
    font-size: 2.5rem;
    color: rgba(250,198,30,255);
    margin-top: 0px;
}
h5 {
    text-align: center;
    color: rgba(250,198,30,255);
    font-size: 2rem;
    margin: 50px 0 0 0;
    padding-bottom: 50px;
}
footer {
    border: 3px solid rgba(250,198,30,255);
    background-color: rgba(0,0,174,255);
    margin: 0;
    box-sizing: border-box;
}
footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row nowrap;
}
footer li {
    font-size: 1.5rem;
    padding: 15px 25px 15px 25px;
    color: rgba(250,198,30,255);
    list-style-type: none;
    text-align: center;

}
a {
    color: rgba(250,198,30,255);
}